# Descarga de imagenes - Fase 1

In [64]:
import pandas as  pd 
import urllib.request
import datetime
import os
import shutil

In [2]:
unpickled_df = pd.read_pickle("E:/TesisMA/Datos/datatotal",compression="gzip")
unpickled_df

,id,ascensor,banos,banoservicio,barriocomun,ciudad,codigoweb,conjuntocerrado,cuartoservicio,deposito,...,scanombre,scacodigo,mancodigo,lotcodigo,cpob_ccdgo,setu_ccnct,secu_ccnct,areaconstruida,areaprivada,arealote
0,1.0,None,NaN,None,None,None,None,None,None,None,...,TEUSAQUILLO,007104,None,None,11001000,110011000000007104,11001100000000710401,700,700,NaN
1,4.0,None,NaN,None,None,None,None,None,None,None,...,BOSQUE DE PINOS III,008538,008538029,008538029031,11001000,110011000000008535,11001100000000853506,107.81,107.81,NaN
2,6.0,None,NaN,None,None,None,None,None,None,None,...,BATAN,009118,009118005,009118005002,11001000,110011000000009118,11001100000000911803,92.9,92.9,NaN
3,8.0,None,NaN,None,None,None,None,None,None,None,...,ALCAZARES,007302,007302026,007302026004,11001000,110011000000007302,11001100000000730201,126,110,NaN
4,9.0,None,NaN,None,None,None,None,None,None,None,...,TUNDAMA,004515,None,None,11001000,110011000000004518,11001100000000451807,65,65,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84469,1893288.0,None,5.0,None,None,Medellín,15519-1679,None,None,False,...,None,None,None,None,05001000,050011000000001203,05001100000000120301,0.0,None,NaN
84470,1893289.0,None,1.0,None,None,Medellín,15666-1281176,None,None,True,...,None,None,None,None,05001000,050011000000001112,05001100000000111204,27.0,None,NaN
84471,1893290.0,None,1.0,None,None,Medellín,14967-1963118,None,None,True,...,None,None,None,None,05001000,050011000000001105,05001100000000110501,45.08,None,NaN
84472,1893291.0,None,1.0,None,None,Medellín,14967-1963135,None,None,True,...,None,None,None,None,05001000,050011000000001105,05001100000000110501,50.66,None,NaN
84473,1893292.0,None,NaN,True,None,Medellín,7264-1744,None,None,False,...,None,None,None,None,05001000,050011000000001105,05001100000000110501,63.7,None,NaN

In [3]:
unpickled_df.columns

Index(['id', 'ascensor', 'banos', 'banoservicio', 'barriocomun', 'ciudad',
       'codigoweb', 'conjuntocerrado', 'cuartoservicio', 'deposito',
       'descripcion', 'estado', 'estrato', 'estudio', 'fecha_inicial',
       'fecha_final', 'garajes', 'gimnasio', 'habitaciones', 'halldealcobas',
       'imagenes', 'inmobiliaria', 'label', 'latitud', 'longitud',
       'nombreempresa', 'parqueaderovisitantes', 'piscina', 'piso', 'porteria',
       'remodelado', 'saloncomunal', 'telefono1', 'telefono2', 'telefono3',
       'telefono4', 'telefono5', 'tiempodeconstruido', 'tipoinmueble',
       'tiponegocio', 'url', 'valoradministracion', 'valorarriendo',
       'valorventa', 'vigilancia', 'vista', 'zonalavanderia', 'fuente',
       'areaconstruidastr', 'areaprivadastr', 'balcon', 'direccion', 'niveles',
       'terraza', 'ultimopiso', 'valor', 'valoradministracionstr',
       'valorarriendostr', 'valorstr', 'valorventastr', 'arealotestr',
       'vetustez', 'antiguedad', 'dpto_ccdgo', 'dpto_cnmbr', 'mpio_ccdgo',
       'mpio_cnmbr', 'locnombre', 'loccodigo', 'upzcodigo', 'upznombre',
       'upznumero', 'scanombre', 'scacodigo', 'mancodigo', 'lotcodigo',
       'cpob_ccdgo', 'setu_ccnct', 'secu_ccnct', 'areaconstruida',
       'areaprivada', 'arealote'],
      dtype='object')

In [4]:
filtrados = unpickled_df[((unpickled_df["tipoinmueble"] == "Apartamento")  | (unpickled_df["tipoinmueble"] == "Casa"))
                    & (unpickled_df["fuente"] == "M2") ] 
filtrados

,id,ascensor,banos,banoservicio,barriocomun,ciudad,codigoweb,conjuntocerrado,cuartoservicio,deposito,...,scanombre,scacodigo,mancodigo,lotcodigo,cpob_ccdgo,setu_ccnct,secu_ccnct,areaconstruida,areaprivada,arealote
2,6.0,None,NaN,None,None,None,None,None,None,None,...,BATAN,009118,009118005,009118005002,11001000,110011000000009118,11001100000000911803,92.9,92.9,NaN
3,8.0,None,NaN,None,None,None,None,None,None,None,...,ALCAZARES,007302,007302026,007302026004,11001000,110011000000007302,11001100000000730201,126,110,NaN
4,9.0,None,NaN,None,None,None,None,None,None,None,...,TUNDAMA,004515,None,None,11001000,110011000000004518,11001100000000451807,65,65,NaN
5,10.0,None,NaN,None,None,None,None,None,None,None,...,MIRANDELA,009133,009133019,009133019013,11001000,110011000000009119,11001100000000911903,560,560,NaN
7,16.0,None,NaN,None,None,None,None,None,None,None,...,SANTA BARBARA CENTRAL,008415,008415042,008415042016,11001000,110011000000008415,11001100000000841508,60,60,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14581,1891605.0,None,1.0,None,PASOANCHO,Cali,11554-2746405,None,None,None,...,None,None,None,None,76001000,760011000000001004,76001100000000100401,35.0,35.0,NaN
14582,1891606.0,True,2.0,None,BILBAO,Bogotá D.C.,839-360244,True,None,None,...,TIBABUYES II,009248,009248007,009248007073,11001000,110011000000009222,11001100000000922205,58.0,58.0,NaN
14584,1891608.0,True,2.0,None,Via 19,Armenia,12293-M2860044,True,None,True,...,None,None,None,None,None,None,None,60.0,60.0,NaN
14586,1891610.0,True,2.0,None,La Loma Del Indio,Medellín,11166-M2864421,None,None,None,...,None,None,None,None,05001000,050011000000000911,05001100000000091102,65.0,65.0,NaN
14587,1891611.0,True,2.0,None,CHAPINERO,Bogotá D.C.,11013-22747,None,None,None,...,CHAPINERO CENTRAL,008213,None,None,11001000,110011000000008213,11001100000000821302,46.0,0.0,NaN

In [4]:
def descargar(datos,start, end):
    global ruta
    data=datos
    global inmueble
    for inmueble in range(start,end):
        urls=data["imagenes"].iloc[inmueble]
        urlsList = urls[1:len(urls)-1].replace('"','').split(",")
        cont =0 
        for url in urlsList:
            cont = cont +1
            urllib.request.urlretrieve(url, ruta
                                       +data["tipoinmueble"].iloc[inmueble]+str(int(data["id"].iloc[inmueble]))+"_"+str(cont)+".jpg")

In [8]:
ruta = "C:/Users/m.alvarezg1/Documents/DataU/"
descargar(filtrados,1025,1120)

In [5]:
def descargarDataPrueba(datos,start, end):
    global ruta
    data=datos
    global inmueble
    dires=['bedroom','bathroom','kitchen','living_room','dining_room']
    for inmueble in range(start,end):
        urls=data["imagenes"].iloc[inmueble]
        urlsList = urls[1:len(urls)-1].replace('"','').split(",")
        cont =0 
        path = os.path.join(ruta, data["tipoinmueble"].iloc[inmueble]+str(int(data["id"].iloc[inmueble])))
        os.mkdir(path)
        for d in dires:
            path_d = os.path.join(path, d)
            os.mkdir(path_d)
        for url in urlsList:
            cont = cont +1
            urllib.request.urlretrieve(url, path+
                                       "/"+data["tipoinmueble"].iloc[inmueble]+str(int(data["id"].iloc[inmueble]))+"_"+str(cont)+".jpg")

In [6]:
ruta = "E:/TesisMA/Datos/DataPrueba/"
descargarDataPrueba(filtrados,1230,1231)

In [39]:
inmueble

1144

In [18]:
filtrados["fecha_final"] = pd.to_datetime(filtrados["fecha_final"])

<ipython-input-18-171bc1fce919>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtrados["fecha_final"] = pd.to_datetime(filtrados["fecha_final"])

,id,ascensor,banos,banoservicio,barriocomun,ciudad,codigoweb,conjuntocerrado,cuartoservicio,deposito,...,scanombre,scacodigo,mancodigo,lotcodigo,cpob_ccdgo,setu_ccnct,secu_ccnct,areaconstruida,areaprivada,arealote
370,762.0,None,NaN,None,None,None,None,None,None,None,...,None,None,None,None,17001000,170011000000000039,17001100000000003901,200,200,NaN

In [122]:
unpickled_df.tail()

,id,ascensor,banos,banoservicio,barriocomun,ciudad,codigoweb,conjuntocerrado,cuartoservicio,deposito,...,scanombre,scacodigo,mancodigo,lotcodigo,cpob_ccdgo,setu_ccnct,secu_ccnct,areaconstruida,areaprivada,arealote
84469,1893288.0,None,5.0,None,None,Medellín,15519-1679,None,None,False,...,None,None,None,None,05001000,050011000000001203,05001100000000120301,0.0,None,NaN
84470,1893289.0,None,1.0,None,None,Medellín,15666-1281176,None,None,True,...,None,None,None,None,05001000,050011000000001112,05001100000000111204,27.0,None,NaN
84471,1893290.0,None,1.0,None,None,Medellín,14967-1963118,None,None,True,...,None,None,None,None,05001000,050011000000001105,05001100000000110501,45.08,None,NaN
84472,1893291.0,None,1.0,None,None,Medellín,14967-1963135,None,None,True,...,None,None,None,None,05001000,050011000000001105,05001100000000110501,50.66,None,NaN
84473,1893292.0,None,NaN,True,None,Medellín,7264-1744,None,None,False,...,None,None,None,None,05001000,050011000000001105,05001100000000110501,63.7,None,NaN

# Descarga de imagenes - Fase 2

In [4]:
data_fase2=pd.read_pickle("C:/Users/m.alvarezg1/Downloads/imagenes_vacancia.pkl")
data_fase2

,inmueble_id,url,orden,nid,direccion,tipo_inmueble,latitud,longitud,conjunto_edificio,area,...,tipo_garaje,num_habitaciones,num_ascensores,num_piso,remodelado,ano_remodelacion,tipo_remodelacion,anos_antiguedad,vista_exterior,Vacancia
0,421,venta-bpimweobzq-1.jpeg,2,1607874433,Carrera 103 b # 154 - 61,Apartamento,4.755175,-74.090868,TORRE IMPERIAL,70,...,Independiente,3,1.0,5.0,0.0,NaN,,1.0,1.0,731
1,421,venta-dddkrhhghr-2.jpeg,3,1607874433,Carrera 103 b # 154 - 61,Apartamento,4.755175,-74.090868,TORRE IMPERIAL,70,...,Independiente,3,1.0,5.0,0.0,NaN,,1.0,1.0,731
2,421,venta-bqzkjyvfin-3.jpeg,4,1607874433,Carrera 103 b # 154 - 61,Apartamento,4.755175,-74.090868,TORRE IMPERIAL,70,...,Independiente,3,1.0,5.0,0.0,NaN,,1.0,1.0,731
3,421,venta-guomxqepht-4.jpeg,5,1607874433,Carrera 103 b # 154 - 61,Apartamento,4.755175,-74.090868,TORRE IMPERIAL,70,...,Independiente,3,1.0,5.0,0.0,NaN,,1.0,1.0,731
4,421,venta-pbnjpsarwm-5.jpeg,6,1607874433,Carrera 103 b # 154 - 61,Apartamento,4.755175,-74.090868,TORRE IMPERIAL,70,...,Independiente,3,1.0,5.0,0.0,NaN,,1.0,1.0,731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,1373560,venta-rikpvqmukh-2.jpeg,2,4830335638,Carrera 32 # 17 - 215,apartamento,4.604275,-74.218094,MALVA,50,...,None,3,0.0,5.0,1.0,2021.0,Parcial,5.0,0.0,64
6015,1373560,venta-xskejuqoby-5.jpeg,5,4830335638,Carrera 32 # 17 - 215,apartamento,4.604275,-74.218094,MALVA,50,...,None,3,0.0,5.0,1.0,2021.0,Parcial,5.0,0.0,64
6016,1373560,venta-pladskclwd-10.jpeg,10,4830335638,Carrera 32 # 17 - 215,apartamento,4.604275,-74.218094,MALVA,50,...,None,3,0.0,5.0,1.0,2021.0,Parcial,5.0,0.0,64
6017,1373560,venta-dvdaruahne-21.jpeg,21,4830335638,Carrera 32 # 17 - 215,apartamento,4.604275,-74.218094,MALVA,50,...,None,3,0.0,5.0,1.0,2021.0,Parcial,5.0,0.0,64
6018,1373560,venta-ufxcngfphl-3.jpeg,3,4830335638,Carrera 32 # 17 - 215,apartamento,4.604275,-74.218094,MALVA,50,...,None,3,0.0,5.0,1.0,2021.0,Parcial,5.0,0.0,64

In [33]:
data_fase2.shape

(6019, 23)

In [31]:
### Crear estructura de directorios
def crearEstrucutura(data):
    global ruta
    inmubles = data["inmueble_id"].unique().tolist()
    dires=['bedroom','bathroom','kitchen','living_room','dining_room']
    for inmu in inmubles:
        path=os.path.join(ruta,"a_"+str(inmu))
        os.mkdir(path)
        for d in dires:
            path_d = os.path.join(path, d)
            os.mkdir(path_d)

In [32]:
ruta = "E:/TesisMA/DatosF2/"
crearEstrucutura(data_fase2)

In [135]:
def descargarDataF2(data):
    global url
    global ruta
    for i in range(0,5):
        url_img = os.path.join(url,data["url"][i])
        path = os.path.join(ruta,"a_"+str(data["inmueble_id"][i]))
        path = os.path.join(path,str(i)+".jpeg")
        print(path)
        with open(path, 'wb') as handle:
            response=requests.get(url_img,headers={'Host': 'habi-sales-images-prod.s3.us-east-2.amazonaws.com','User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36'})
            if not response.ok:
                print(response)

            for block in response.iter_content(1024):
                if not block:
                    break

                handle.write(block)

In [136]:
ruta = "E:/TesisMA/DatosF2/"
url="http://habi-sales-images-prod.s3.us-east-2.amazonaws.com"
descargarDataF2(data_fase2)

E:/TesisMA/DatosF2/a_421\0.jpeg
<Response [403]>
E:/TesisMA/DatosF2/a_421\1.jpeg
<Response [403]>
E:/TesisMA/DatosF2/a_421\2.jpeg
<Response [403]>
E:/TesisMA/DatosF2/a_421\3.jpeg
<Response [403]>
E:/TesisMA/DatosF2/a_421\4.jpeg
<Response [403]>